<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Grisbel Centeno | Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Grisbel Centeno</h1>
<p><strong>Ingeniera en Telecomunicaciones que integra datos, tecnología y experiencia real para diseñar soluciones útiles y sostenibles.</strong></p>
<div class="redes">
  <a href="https://www.linkedin.com/in/grisbel-centeno/" target="_blank" class="red-link">
    LinkedIn
  </a>
</div>

<hr>
{% for key, bloque in bloques.items() %}
<section>
    <h2>{{ bloque.titulo }}</h2>
    <p>{{ bloque.descripcion }}</p>

    <div class="cards">
        {% for proyecto in bloque.proyectos %}
            <a href="/proyecto/{{ proyecto.slug }}" class="card">
                <h3>{{ proyecto.nombre }}</h3>
            </a>
        {% endfor %}
    </div>
</section>
<hr>
{% endfor %}

</body>
</html>


